
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<title>Create Song</title>
		<link rel="stylesheet" href="/gTunes/static/css/style.css" type="text/css">
	</head>
	<body>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="/">Home</a></li>
				<li>Song</li>
			</ul>
		</div>
		<div id="create-song" class="content scaffold-create" role="main">
			<h1>Song Details</h1>
			<div class="message" role="status"></div>
			<span>Title</span>
			<span>Artist</span>
			<span>Duration</span><br />
			{{#songs}}
				<span>{{title}}</span>
				<span>{{artist}}</span>
				<span>{{duration}}</span><br />
			{{/songs}}
			{{^songs}}
			  <span>Empty lists</span>
			{{/songs}}
			<a href="create">Add a new song</a>
		</div>
	</body>
</html>
