
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<title>Song Info</title>
		<link rel="stylesheet" href="/gTunes/static/css/style.css" type="text/css">
	</head>
	<body>
		<div id="header">Welcome to gTunes!</div>
		<div class="content">
			<div class="nav" role="navigation">
				<ul>
					<li><a class="home" href="/">Home</a></li>
					<li>Song</li>
				</ul>
			</div>
			<div id="show-song" class="content-wrap">
				<h1>Song Info - {{song.title}}</h1>
				<div class="message" role="status"></div>
				{{#song}}
					<div class="row">
						<span class="label in-line">Title:</span>
						<span>{{title}}</span>
					</div>
					<div class="row">
						<span class="label in-line">Artist: </span>
						<span>{{artist}}</span>
					</div>
					<div class="row">
						<span class="label in-line">Duration:</span>
						<span>{{duration}}</span>
					</div>
				{{/song}}
				<br /><br />
				<input type="button" onclick="window.location = '../create'" value="Add a song">
				<input type="button" onclick="window.location = '../list'" value="Go to list">
			</div>
		</div>
	</body>
</html>
