
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<title>Create Song</title>
		<link rel="stylesheet" href="/gTunes/static/css/style.css" type="text/css">
	</head>
	<body>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="/">Home</a></li>
				<li>Song</li>
			</ul>
		</div>
		<div id="create-song" class="content scaffold-create" role="main">
			<h1>Song Details</h1>
			<div class="message" role="status"></div>
			{{#song}}
				<span>Title</span>
				<span>{{title}}</span><br />
				<span>Artist: </span>
				<span>{{artist}}</span><br />
				<span>Duration</span>
				<span>{{duration}}</span><br />
			{{/song}}
			
			<a href="../create">Add a new song</a>
			<a href="../list">Go to song list</a>
		</div>
	</body>
</html>
